<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Change Password</title>
</head>
<body>
 <form method="post" novalidate>
			{%  csrf_token %}
			{% for fm in form %}
				<div>
					{{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
				</div>
			{% endfor %}
			<input type="submit" value = "Login" name="">
			{% if form.non_field_errors %}
				{% for err in form.non_field_errors %}
					<p>{{err}}</p>
				{% endfor %}
			{% endif %}
		</form>
 	<input type="submit"  value = "Save"name="">
 </form>
 <a href="{% url 'dashboard' %}"> Cancel </a> 
</body>
</html>