<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Registration</title>
	<style>
		.success{
			color: red;
		}
	</style>
</head>
<body>
	<form action="" method="POST" novalidate>
		{% csrf_token %}
		{% for fm in fm%}
			{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
		{% endfor %}
		<input type="submit" name="" value="Submit">
	</form>
	{% if messages %}
		{% for message in messages %}
			<small {% if message.tags %} class="{{message.tags}}" {% endif %} }>{{message}}</small>
		{% endfor %}
	{% endif%}
</body>
</html>