<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
</head>
<body>
		<h3> Student Information </h3>
		<table>
		<th> ID </th>
		<th> Name</th>
		<th> Roll </th>
		<th> City </th>
		<th> Marks </th>
		<th> Passing Year </th>
		<th> Passing Date Time</th>
		{% for students in student%}
			<tr>
				<td>{{students.id}}</td>
				<td>{{students.name}}</td>
				<td>{{students.roll}}</td>
				<td>{{students.city}}</td>
				<td>{{students.marks}}</td>
				<td>{{students.pass_date}}</td>
				<td>{{students.admdatetime}}</td>
			</tr>
			
		{% endfor %}
	</table>



</body>
</html>